* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: grey;
  }
  .wrapper {
    display: flex;
    max-width: 750px;
    width: 300%;
    height: 500px;
    background: #fff;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .wrapper i.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    background-color: lightpink;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    color: black;
    font-size: 15px;
    transition: all 0.3s linear;
    z-index: 100;
    cursor: pointer;
  }
  i.button:active {
    transform: scale(0.90) translateY(-50%);
  }
  i#prev {
    left: 10px;
  }
  i#next {
    right: 10px;
  }
  .image-container {
    height: 320px;
    max-width: 500px;
    width: 500%;
    overflow: hidden;
  }
  .image-container .carousel {
    display: flex;
    height: 100%;
    width: 100%;
    transition: all 0.7s ease;
  }
  .carousel img {
    height: 100%;
    width: 200%;
    border-radius: 18px;
    border: 10px solid lavenderblush;
    object-fit: cover;
  }